.icon {
    background-image: url(icons.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-people {
    width: 32px;
    height: 26px;
    background-position: -5px -5px;
}

.icon-tie {
    width: 17px;
    height: 32px;
    background-position: -47px -5px;
}

.icon-white-board {
    width: 25px;
    height: 32px;
    background-position: -5px -47px;
}
